@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: A4;
    margin: 10mm;
  }

  body * {
    visibility: hidden;
  }

  .print-licenses, .print-licenses * {
    visibility: visible;
  }

  .print-licenses {
    position: absolute;
    left: 0;
    top: 0;
  }
}
